{% extends "master.html" %}

{% block content %}
<h2>Crear Edificio</h3>

<form action="" method="post">

  {% csrf_token %}

  {{ formulario.non_field_errors }}
  <div class="fieldWrapper">
    {{ formulario.nombre.errors }}
    <label for="{{ formulario.nombre.id_for_label }}">Ingrese nombre edificio:</label>
    {{ formulario.nombre }}
  </div>
  <br>
  <div class="fieldWrapper">
    {{ formulario.direccion.errors }}
    <label for="{{ formulario.direccion.id_for_label }}">Ingrese direccion:</label>
    {{ formulario.direccion }}
  </div>
  <br>
  <div class="fieldWrapper">
    {{ formulario.ciudad.errors }}
    <label for="{{ formulario.ciudad.id_for_label }}">Ingrese ciudad:</label>
    {{ formulario.ciudad }}
  </div>
  <br>
  <div class="fieldWrapper">
    {{ formulario.tipo.errors }}
    <label for="{{ formulario.tipo.id_for_label }}">Ingrese tipo:</label>
    {{ formulario.tipo }}
  </div>

  <p><input type='submit' value='Agregar'/></p>

</form>

{% endblock %}

